<section id="nessHero" class="px-3 px-xl-5" data-aos="flip-down">
    <div id="nessHeroBg" class="heroBluePrimary container-fluid position-relative boxShadowLg">

        <div class="nessHeroSlide on row flex-row-reverse justify-content-center align-items-end" data-style="heroBluePrimary">
            <div class="nessHeroCopy col-10 col-sm-5 align-self-center pl-sm-0 pt-sm-5 mt-sm-4">
                <h2 class="text-light display-2">Basketball is so&nbsp;Great</h2>
                <p class="lead">Don’t you agree?</p>
                <p class="d-none d-md-block">It’s my favorite sport, so much fun all the time. Dribbling, shooting, windmill dunks, all the sporty stuff.</p>
            </div>

            <div class="nessHeroImg col-sm-5 col-lg-5 col-xl-4">
                <img class="img-fluid" src="img/teach.png">
            </div>
        </div>
<!--
        <div id="nessSliderControlWrapLeft" class="nessSliderControl d-flex align-items-center">
            <i id="nessSliderControlLeft" class="fa fa-caret-left p-2 p-sm-3 p-lg-5"></i>
        </div>

        <div id="nessSliderControlWrapRight" class="nessSliderControl d-flex align-items-center">
            <i id="nessSliderControlRight" class="fa fa-caret-right p-2 p-sm-3 p-lg-5"></i>
        </div>
-->
    </div>
</section>